@import '../mixins';

.line-chart {
    font-size: 0.75em; //12/16    	
	
    .axis path,
	.axis line {
	  fill: none;
	  stroke: #000;
	  shape-rendering: crispEdges;
	}

	.line {
	  fill: none;
	  stroke: $bahia;
	  stroke-width: 4px;
	}
    
    //.x.axis path { display: none; }
}