.multi-line-chart {
    //todo: these styles are the same as in .line-chart - maybe should be moved into mixins
    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    .line {
        fill: none;
        stroke: steelblue;
        stroke-width: 3.5px;
    }
}