@import '../mixins';

.template-container{
    float: right;
    width: 82%;
    padding: 20px;
}

//todo: move to another module
.line-chart,
.pie-chart,
.multi-line-chart{
    font-size: 0.75em; //12/16 
	border: 1px solid $veryLightGrey;
	min-height: 250px;
	margin-top: 20px;
}

.pie-chart { width: 48%; }
