@import '../mixins';

.template-container{
    float: right;
    width: 82%;
    padding: 20px;
    background: $whiteSmoke;
}

//todo: move to another module
.line-chart,
.pie-chart,
.multi-line-chart,
.horizontal-bar-chart,
.vertical-bar-chart{
    background: #fff;
    //border: 1px solid $veryLightGrey;
	min-height: 250px;
	margin-top: 20px;
    
    h3 { padding: 20px; }
}

.pie-chart { width: 48%; }

.horizontal-bar-chart,
.vertical-bar-chart{
    width: 66%;
}